$text-base-color: #cacaca;
$bg-color: #08020d;
$gray-color: #e0e0e0;
$green-button-color: #34C176;
$orange-color: #F89202;
$orange-transparent-color: #95390C;
$purple-color: #5328A1;
$white-color: white;
$dark-gray-color: #3C3B3D;
$font-roboto-400: roboto, sans-serif;
$font-roboto-700: roboto-bold, sans-serif;